
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="../../../assets/app_logo_2.svg" alt="Logo" style="cursor: pointer;">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <div class="navbar-nav ms-auto">
        <div style="display: flex; align-items: center; margin-left: 10px;">
          <div class="user-image">
            <span>{{ userName.charAt(0) }}</span>
          </div>
          <div class="dropdown" style="position: relative; display: inline-block;  cursor: pointer;  margin-left: 5px; ">
            <span class="user-name">{{ userName }}</span>
            <span style="margin-left: 5px;">▼</span>
            <div class="dropdown-content">
              <button (click)="navigateToUpdateProfile()">Update Profile</button>
              <button (click)="navigateToChangePassword()">Change Password</button>
              <button (click)="logout()">Sign Out</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="card-container">
  <div class="card" (click)="openFormCard()" style="align-items: center;">

    <i class="fas fa-plus fa-2x mb-3"></i>
    <p>New Query</p>

  </div>
  <div class="card" *ngFor="let query of queries">
    <div class="card-body d-flex flex-column align-items-start" (click)="navigateToHome()">
      <div class="mb-3" style="margin-bottom: 10px;">
       
          <i class="fas fa-folder fa-lg" style="color: #fccc77;"></i>
       
      </div>
      <h4 class="card-title">{{ query.name }}</h4>
      <div class="row" style="margin-top: 30px;">
        <div style="width: 72%;">
          <small>{{ query.dateCreated | date }}</small>

        </div>
        <div style="width: 26%;">
          <img src="../../../assets/arrow-up-right.svg" />
        </div>
      </div>




    </div>
  </div>
</div>



<div class="modal" *ngIf="isFormCardOpen">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" [@modalAnimation]>
      <div class="modal-header">
        <h2 class="modal-title">Research Name</h2>
      </div>
      <div class="modal-body">
        <textarea [(ngModel)]="newQuery" placeholder="Enter your query"
          class="form-control form-control-lg bg-light border-ccc no-resize small-text"
          style="height: 6.5rem; width: 300px;"></textarea>
        <br>
        <button (click)="continueQuery()" class="button">Continue</button>
        <button (click)="closeFormCard()" class="button">Close</button>
      </div>
    </div>
  </div>
</div>