<div class="form-container">
  <div class="column">
    <div class="form-group">
      <h3 class="enough">Advance Filters</h3>
      <div class="dropdown">
        <button class="dropdown-button">Court</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>
    </div><br><br>

    

    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown-button">Case Type</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown-button">Citation</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown-button">Section</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown-button">Respondent</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <h3 class="section-title">Close</h3>
    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown-button">Bench</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown-button">Case Number</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown-button">Act</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown-button">Petitioner</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="dropdown">
        <button class="dropdown-button">Judgement year</button>
        <div class="dropdown-content">
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </div>
    </div><br><br>
  </div>
</div>
<div class="button-group">
  <button class="reset-button">Reset</button>
  <button class="submit-button">Submit</button>
</div>