<div>
    <h2>Forgot Password</h2>
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <form [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" required>
        <!-- <div *ngIf="f.email.touched && f.email.invalid" class="error-message">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Invalid email format</div>
        </div> -->
      </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid || submitted">Submit</button>
    </form>
  </div>
  