<div class="background">
  <div class="card">
    <div style="text-align: center; margin-bottom: 10px;">
    <img src="../../../assets/logo_fg.png" style="height: 70px; width: 70px;">
  </div>
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
      <div class="form-group">
        
        <input type="text" placeholder="Email" name="email" id="email" formControlName="email"
        [ngClass]="{'error': getControl('email')?.errors && getControl('email')?.touched}">
    
        <span style="color: red;"
          *ngIf="forgotPasswordForm.get('email')?.errors?.['required'] && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)"><br>
          Email is required.
        </span>
        <br>
        <span *ngIf="getControl('email')?.errors?.['email']" style="color: red;">Please enter a valid email address.</span>
             </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid || submitted">Submit</button>
      <div class="signin-link">
        Go back to Sign In <a routerLink="/user/signin"><b>Sign In</b></a>
      </div>
    </form>
  </div>
  </div>
  