<app-header></app-header>

<div class="background">
  
  <div class="card">
    <h1>Reset Password</h1>

    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <input type="password" placeholder="Enter current password" name="currentPassword" id="currentPassword"
          formControlName="currentPassword"
          [ngClass]="{'error': getControl('currentPassword')?.errors && getControl('currentPassword')?.touched}">

        <span style="color: red;"
          *ngIf="updatePasswordForm.get('currentPassword')?.errors?.['required'] && (updatePasswordForm.get('currentPassword')?.dirty || updatePasswordForm.get('currentPassword')?.touched)"><br>
          Current password is required.
        </span>
        <br>
      </div>
      <div>
        <input type="text" placeholder="Enter new password" name="newPassword" id="newPassword"
          formControlName="newPassword"
          [ngClass]="{'error': getControl('newPassword')?.errors && getControl('newPassword')?.touched}">



        <span style="color: red;"
          *ngIf="updatePasswordForm.get('newPassword')?.errors?.['required'] && (updatePasswordForm.get('newPassword')?.dirty || updatePasswordForm.get('newPassword')?.touched)"><br>
          New password is required.
        </span>
        <span *ngIf="getControl('newPassword')?.errors?.['minlength']" style="color: red;">Password must contain 6 characters</span>


      </div>

      <button type="submit" [disabled]="updatePasswordForm.invalid">Update</button>

    </form>
  </div>
</div>