<div class="background">
    <div class="card">
      <div style="text-align: center; margin-bottom: 10px;">
        <img src="../../../assets/logo_fg.png" style="height: 70px; width: 70px;">
      </div>
      <h2>Update Password</h2>
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div>
            <input type="password" placeholder="New Password" name="newPassword" id="newPassword" formControlName="newPassword"
            [ngClass]="{'error': getControl('newPassword')?.errors && getControl('newPassword')?.touched}">
        
            <span style="color: red;"
              *ngIf="updateForm.get('newPassword')?.errors?.['required'] && (updateForm.get('newPassword')?.dirty || updateForm.get('newPassword')?.touched)"><br>
              New Password is required.
            </span>
            <br>
            <span *ngIf="getControl('newPassword')?.errors?.['minlength']" style="color: red;">Password must contain 6 characters</span>
            <div><br>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword"
                [ngClass]="{'error': getControl('confirmPassword')?.errors && getControl('confirmPassword')?.touched}">
            
                <span style="color: red;"
                  *ngIf="updateForm.get('confirmPassword')?.errors?.['required'] && (updateForm.get('confirmPassword')?.dirty || updateForm.get('confirmPassword')?.touched)"><br>
                  Confirm Password is required.

                </span >
                <span style="color: red;">
                <div *ngIf="getControl('confirmPassword')?.hasError('passwordMismatch')">Passwords do not match.</div>
                </span>
                <br>
                <div>
             
            </div>
            </div>
        </div>
        <button type="submit"[disabled]="updateForm.invalid" >Update</button>
        <div class="signin-link">
          Go back to Sign In <a routerLink="/user/signin"><b>Sign In</b></a>
        </div>
        </form>
        <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    </div>
</div>