.background {
    background-color: #047BD5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
      margin-top: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input {
    width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333333;
  }
  
  button {
    width: 120px;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  button:disabled:hover {
    background-color: #4caf50; /* Same color as the button's background color */
  }
  
  
  button:hover {
    background-color: #45a049;
  }
  
  .signin-link {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .signin-link a {
    color: #3498db;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .signin-link a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .error {
    border: 1px solid red;
  }