
<div class="background">
    <div class="card">
      <h2>Register</h2>
      <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
  
        <input type="text" placeholder="Email" name="email" id="email" formControlName="email"
          [ngClass]="{'error': getControl('email')?.errors && getControl('email')?.touched}">
      
          <span style="color: red;"
            *ngIf="signupForm.get('email')?.errors?.['required'] && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
            Email is required.
          </span>
          
          <span *ngIf="getControl('email')?.errors?.['email']" style="color: red;">Please enter a valid email address.</span>
       
          <input type="text" placeholder="Password" name="password" id="password" formControlName="password"
          [ngClass]="{'error': getControl('password')?.errors && getControl('password')?.touched}">
      
          <span style="color: red;"
            *ngIf="signupForm.get('password')?.errors?.['required'] && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
            Password is required.
          </span>
          <span *ngIf="getControl('password')?.errors?.['minlength']" style="color: red;">Password must contain 6 characters</span>
         
          <input type="text" placeholder="Fisrt Name" name="firstName" id="firstName" formControlName="firstName"
          [ngClass]="{'error': getControl('firstName')?.errors && getControl('firstName')?.touched}">
       
          <span style="color: red;"
            *ngIf="signupForm.get('firstName')?.errors?.['required'] && (signupForm.get('firstName')?.dirty || signupForm.get('firstName')?.touched)">
            First Name is required.
          </span>

          
          <input type="text" placeholder="Last Name" name="lastName" id="lastName" formControlName="lastName"
          [ngClass]="{'error': getControl('lastName')?.errors && getControl('lastName')?.touched}">
       
          <span style="color: red;"
            *ngIf="signupForm.get('lastName')?.errors?.['required'] && (signupForm.get('lastName')?.dirty || signupForm.get('lastName')?.touched)">
          Last Name is required.
          </span>
          <input type="text" placeholder="Organization Name" name="organization" id="organization" formControlName="organization"
          [ngClass]="{'error': getControl('organization')?.errors && getControl('organization')?.touched}">
       
          <span style="color: red;"
            *ngIf="signupForm.get('organization')?.errors?.['required'] && (signupForm.get('organization')?.dirty || signupForm.get('organization')?.touched)">
            Organization Name is required.
          </span>

          <input type="text" placeholder="Phone Numbers" name="contactDetails" id="contactDetails" formControlName="contactDetails"
          [ngClass]="{'error': getControl('contactDetails')?.errors && getControl('contactDetails')?.touched}">
       
          <span style="color: red;"
            *ngIf="signupForm.get('contactDetails')?.errors?.['required'] && (signupForm.get('contactDetails')?.dirty || signupForm.get('contactDetails')?.touched)">
          Phone Number is required.
          </span>
          <span *ngIf="getControl('contactDetails')?.errors?.['pattern']" style="color: red;">Please enter a valid Phone Number.</span>
 
         
       
  
        <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
        <div class="signin-link">
          Already have an account? <a routerLink="/user/signin"><b>Sign In</b></a>
        </div>
  
      </form>
  
    </div>
  </div>
  